.table-primary {
    background-color: #8E7DBE !important;
    color: white;
    text-align: center;
}

.btn-primary {
    background-color: #8E7DBE;
}

span {
    font-size: 1rem !important;
}

.sidebar-brand-text {
    font-size: 1.5rem !important;
    text-transform: none !important;
}

.text-title {
    color: #7D65EC;
    font-weight: 500;
}

.sidebar-dark hr.sidebar-divider {
    border-top: 2px solid white;
}

.btn-primary {
    background-color: #8E7DBE !important;
    border-color: #fff;
}

.btn-primary:hover {
    background-color: #8873e6 !important;
    border-color: #8873e6 !important;
}

.align-middle {
    background-color: #fff;
}

.table-bordered,th {
    border: 1px solid #e0d7d7 !important;
}

.card-dashboard {
    gap: 2rem;
}

.card-reservasi {
    background-color: #FF8282 !important;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.card-konfirmasi {
    background-color: #FF9D3D !important;
    color: white;
    font-size: 17.5px;
    font-weight: 600;
}

.card-jumlah {
    background-color: #7AA2E3 !important;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.chart-area {
    width: 100% !important;
    height: auto;
    overflow-x: auto;
}
canvas {
    width: 100% !important;
    height: auto !important;
}

#genderChart {
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto; 
}